<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AADRESTDB" connectionString="Server=bwdemosqleast.database.windows.net,1433;Database=SPDemoAzureADREST;User ID=bwadmin;Password=Thutmosis4;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="ida:FederationMetadataLocation" value="https://login.windows.net/binarywave.com/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Realm" value="https://binarywave.com/SPDemo.AzureAD.REST" />
    <add key="ida:AudienceUri" value="https://binarywave.com/SPDemo.AzureAD.REST" />
    <add key="ida:AppId" value="b13e7722-ba33-4d12-9ca6-864047135e04"/>
    <add key="ida:ClientId" value="b13e7722-ba33-4d12-9ca6-864047135e04" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientSecret" value="bkO0orPAXX5k4/fGGZTKN24EkDtONgYAQ/FdmNKCk48=" />
    <add key="ida:TenantId" value="2ae1caa2-a173-4989-b8f5-9da45655b8f4" />
    <add key="ida:Domain" value="binarywave.com" />
  </appSettings>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add xdt:Transform="RemoveAll"/>
        <add value="https://binarywave.com/SPDemo.AzureAD.REST" xdt:Transform="Insert" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation xdt:Transform="RemoveAll"/>
      <wsFederation passiveRedirectEnabled="false" issuer="https://login.windows.net/common/wsfed" realm="https://binarywave.com/SPDemo.AzureAD.REST" requireHttps="true" xdt:Transform="Insert" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>